main {
  padding: 50px;
}

h1 {
  font-size: 25px;
  margin: 25px;
  color: #b76e79;
  text-shadow: 2px 2px 3px #090607;
  transition: background-color 0.4s;
  padding-top: 25px;
}

h1:hover {
  background-color: #ffe6ec;
  border-radius: 25px;
}

.section {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
  border: 4px solid #ebacac;
  border-radius: 8px;
  margin-bottom: 12px;
  transition: border-radius 0.4s;
}

.new-inventory {
  max-width: 80%;
  height: 100px;
}

.track-inventory {
  max-width: 70%;
  height: 100px;
}

.manage-inventory {
  max-width: 60%;
  height: 100px;
}
