.makeup-container.card {
    background-color: pink;
}

.makeup-image.card-img-top {
    background-color: white;
    height: 200px;
}
.card-body {
    align-items: center;
    background-color: lightblue;

}

h3 {
    text-align: center;
}

.img-fluid {
    height:150px;
}