nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffc8dd;
    color: pink;
    padding: 10px 0;
    z-index: 1000; 
}

h1 {
    margin: 0;
    font-size: 24px;
}

h1 a {
    text-decoration: none;
    color: rgb(156, 210, 228);
}

button {
    background-color: lightblue;
    color: pink;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
}

button a {
    color: pink;
    border: none;
    margin-top: 10px;
}

button:hover {
    background-color: rgb(146, 201, 224);
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-around;
}
